<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>at</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>asciitilde</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>asterisk</string>
		<string>asciicircum</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>asciitilde</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>asterisk</string>
		<string>asciicircum</string>
	</array>
</dict>
</plist>
