<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Horizontal</string>
			<key>Tag</key>
			<string>hrzn</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vertical</string>
			<key>Tag</key>
			<string>vert</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rotation</string>
			<key>Tag</key>
			<string>rota</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Scale</string>
			<key>Tag</key>
			<string>scal</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.Disable Subroutines</key>
	<true/>
	<key>com.schriftgestaltung.font.Variable Font Origin</key>
	<string>1EB8A5F7-2359-4B88-934D-3D863DBAF481</string>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>LWPluginVersion</key>
		<string>1366</string>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>679ABE42-9CA6-4ECB-A3C5-08BBD6D667EE</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>X2Y0R2S0</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>1000</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>-1000</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>at</string>
		<string>ampersand</string>
		<string>bar</string>
	</array>
</dict>
</plist>
